#project_01 {
  background-color: #f3f3f3;
  width: 100%;
  margin: auto 0;
}

.hero_img img {
  width: 100%;
  padding-top: 1rem;
}

.hero_img h6 {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 1rem;
}

.hero_img h3 {
  text-align: center;
  margin-top: 1rem;
}

.case_study_content_container {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.case_study_quick_jump {
  width: 30%;
  /* position: sticky; */
  padding-left: 2rem;
}

.case_study_quick_jump ul {
  position: sticky;
  top: 6rem;
}

.case_study_quick_jump ul li {
  padding: 0.75rem 0;
  font-size: 1rem;
}

.case_study_quick_jump ul li:first-child {
  padding-top: 0;
}

.case_study_quick_jump ul li a {
  text-decoration: none;
  color: #616161;
  line-height: 1.75rem;
}

.case_study_quick_jump ul li a:hover {
  color: #6e868f;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.case_study_content {
  width: 70%;
  padding-right: 4rem;
}

.case_study_content p {
  line-height: 1.5rem;
}

.case_study_content h6 {
  font-family: "Nunito", sans-serif;
  color: #313131;
  letter-spacing: 0.04em;
}

.case_study_content h6,
.case_study_content p {
  margin: 0;
}

.t_c {
  margin-top: 2rem;
  display: hidden;
}

.c_c {
  margin-top: 1.25rem;
}

.c_b {
  margin-top: 2.5rem;
}

.b_c {
  margin-top: 3.5rem;
}

.note {
  color: #929292;
  font-style: italic;
  /* width: 80%;
  margin: auto !important; */
}

.section_dot {
  margin-top: 7.5rem;
}

.dot {
  font-size: 4rem;
  text-align: center;
  color: #89a7b3;
  display: block;
  margin: auto;
}

.case_study_content ul li {
  padding: 0.25rem 0;
  line-height: 1.75rem;
  /* margin-left: 4rem; */
  width: 80%;
  margin: auto;
}

.case_study_content ol li {
  padding: 0.25rem 0;
  line-height: 1.75rem;
  /* margin-left: 4rem; */
  width: 80%;
  margin: auto;
}

.case_study_content img {
  width: 100%;
}

.doc_flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.doc_flex img {
  width: 50%;
}

/* RWD */
@media (max-width: 768px) {
  .case_study_content_container {
    gap: 1rem;
  }

  .case_study_quick_jump {
    padding-left: 1rem;
  }
  .case_study_content {
    padding-right: 1rem;
  }
}

@media (max-width: 640px) {
  .hero_img h6 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .hero_img h3 {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  .case_study_quick_jump {
    display: none;
  }

  .case_study_content {
    width: 94%;
    margin: auto;
  }

  .case_study_content h6 {
    font-size: 1.5rem;
    text-align: center;
  }

  .case_study_content ul,
  .case_study_content ol {
    padding-left: 1.5rem;
  }

  .case_study_content ul li,
  .case_study_content ol li {
    width: 90%;
  }

  .doc_flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .doc_flex img {
    width: 100%;
  }
}
